.family-tree div{
    border: 2px solid tan;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    align-items: center;
}
.flex{
    display: flex;
    justify-items: center;
    align-items: center;
}